<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newland.tianyan.auth.dao.AppInfoMapper">

    <update id="update">
        UPDATE ${tableName}
        SET APP_NAME = #{appInfoDO.appName},
            APP_INFO = #{appInfoDO.appInfoDO},
            API_LIST = #{appInfoDO.apiList}
        WHERE APP_ID = #{appInfoDO.appId}
    </update>

    <update id="createTable" parameterType="string">
        CREATE TABLE IF NOT EXISTS `${tableName}`
        (
            APP_NAME     VARCHAR(256),
            APP_ID       BIGINT UNSIGNED,
            API_KEY      VARCHAR(256),
            SECRET_KEY   VARCHAR(256),
            CREATE_TIME  VARCHAR(256),
            APP_INFO     VARCHAR(1000),
            API_LIST     VARCHAR(256),
            TYPE         INT,
            GROUP_NUMBER INT DEFAULT 0,
            INDEX (APP_ID)
        ) ENGINE = INNODB;
    </update>

    <update id="groupNumberIncrease">
        UPDATE ${tableName}
        SET GROUP_NUMBER = GROUP_NUMBER + #{count}
        WHERE APP_ID = #{appId}
    </update>

    <update id="groupNumberDecrease">
        UPDATE ${tableName}
        SET GROUP_NUMBER = GROUP_NUMBER - #{count}
        WHERE APP_ID = #{appId}
    </update>

</mapper>