<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newland.tianyan.face.dao.UserInfoMapper">


    <update id="faceNumberIncrease">
        UPDATE `user_info`
        SET face_number = face_number + #{count}
        WHERE app_id = #{appId}
        AND group_id = #{groupId}
        AND user_id = #{userId}
    </update>

    <update id="faceNumberDecrease">
        UPDATE `user_info`
        SET face_number = face_number - #{count}
        WHERE app_id = #{appId}
        AND group_id = #{groupId}
        AND user_id = #{userId}
    </update>

    <select id="getGroupIdByUserId" resultType="String">
        SELECT
        DISTINCT
        a.group_id
        FROM
        user_info a
        <where>
            <if test="userId != null">
                a.user_id = #{userId}
            </if>
            <if test="appId != null">
                AND a.app_id = #{appId}
            </if>
        </where>
    </select>

    <insert id="insertGetId" parameterType="com.newland.ncsms.domain.UserInfo" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        INSERT INTO user_info  ( app_id,gid,group_id,user_id,user_name,face_number,user_info )
        VALUES( #{appId},#{gid},#{groupId},#{userId},#{userName},#{faceNumber},#{userInfo})
    </insert>
</mapper>