<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newland.tianyan.face.dao.UserInfoMapper">


    <update id="faceNumberIncrease">
        UPDATE `user_info`
        SET face_number = face_number + #{count}
        WHERE app_id = #{appId}
          AND group_id = #{groupId}
          AND user_id = #{userId}
    </update>

    <update id="faceNumberDecrease">
        UPDATE `user_info`
        SET face_number = face_number - #{count}
        WHERE app_id = #{appId}
          AND group_id = #{groupId}
          AND user_id = #{userId}
    </update>

    <select id="getGroupId" resultType="String">
        SELECT
        DISTINCT
        a.group_id
        FROM
        user_info a
        <where>
            <if test="appId != null">
                a.app_id = #{appId}
            </if>
            <if test="userId != null">
                AND a.user_id = #{userId}
            </if>
            <if test="groupId != null">
                AND a.group_id = #{groupId}
            </if>
        </where>
    </select>

    <insert id="insertGetId" parameterType="com.newland.tianyan.face.domain.entity.UserInfoDO" useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id">
        INSERT INTO user_info (app_id, gid, group_id, user_id, user_name, face_number, user_info)
        VALUES (#{appId}, #{gid}, #{groupId}, #{userId}, #{userName}, #{faceNumber}, #{userInfo})
    </insert>

    <select id="queryBatch" resultType="com.newland.tianyan.face.domain.entity.UserInfoDO">
        SELECT * FROM user_info a
        WHERE a.app_id = #{appId}
        <if test="gidSet != null and gidSet.size > 0">
            AND a.gid in
            <foreach collection="gidSet" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="uidSet != null and uidSet.size > 0">
            AND a.id in
            <foreach collection="uidSet" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="userId != null ">
            AND a.user_id = #{userId}
        </if>
    </select>

</mapper>