<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newland.tianyan.faceDO.dao.AppInfoMapper">

    <update id="update">
        UPDATE `app_info`
        SET app_name = #{appInfoDO.appName},
            app_info = #{appInfoDO.appInfoDO},
            api_list = #{appInfoDO.apiList}
        WHERE id = #{appInfoDO.appId}
    </update>

    <update id="updateToDelete">
        UPDATE app_info SET is_delete = ${isDelete} WHERE id = ${id}
    </update>

    <update id="groupNumberIncrease">
        UPDATE `app_info`
        SET group_number = group_number + #{count}
        WHERE id = #{appId}
        AND group_number >=0
    </update>

    <select id="queryAutoIncrementId" resultType="Long">
    SELECT
	AUTO_INCREMENT
    FROM
	information_schema.TABLES
    WHERE
	Table_Schema = 'newland_cloud_management'
	AND table_name = 'app_info';
    </select>
</mapper>